{% extends "base.html" %}

{% block content %}
<div>
  <form action="" method="post" class='child' novalidate>
    <h4>Create Product Review</h4>
    {{ form2.hidden_tag() }}
    <p>
      {{ form2.uidInput2.label }}<br/>
      {{ form2.uidInput2(size=32) }}<br/>
    </p>
    <p>
      {{ form2.pidInput2.label }}<br/>
      {{ form2.pidInput2(size=32) }}<br/>
    </p>
    <p>
      {{ form2.ratingInput2.label }}<br/>
      {{ form2.ratingInput2(size=32) }}<br/>
    </p>
    {{ form2.submit2(class_="btn btn-black") }}
  </form> 

  <form action="" method="post" class='child' novalidate>
    <h4>Update Product Review</h4>
    {{ form1.hidden_tag() }}
    <p>
      {{ form1.uidInput1.label }}<br/>
      {{ form1.uidInput1(size=32) }}<br/>
    </p>
    <p>
      {{ form1.pidInput1.label }}<br/>
      {{ form1.pidInput1(size=32) }}<br/>
    </p>
    <p>
      {{ form1.ratingInput1.label }}<br/>
      {{ form1.ratingInput1(size=32) }}<br/>
    </p>
    {{ form1.submit1(class_="btn btn-black") }}
  </form>

  <form action="" method="post" class='child' novalidate>
    <h4>Delete Product Review</h4>
    {{ form3.hidden_tag() }}
    <p>
      {{ form3.uidInput3.label }}<br/>
      {{ form3.uidInput3(size=32) }}<br/>
    </p>
    <p>
      {{ form3.pidInput3.label }}<br/>
      {{ form3.pidInput3(size=32) }}<br/>
    </p>
    {{ form3.submit3(class_="btn btn-black") }}
  </form>
  
  <form action="" method="post" class='child' novalidate>
    <h4>Search User Reviews</h4>
      {{ form.hidden_tag() }}
      <p>
        {{ form.uidInput.label }}<br/>
        {{ form.uidInput(size=32) }}<br/>
      </p>
      {{ form.submit(class_="btn btn-black") }}
    </form>
</div>

  <br><br>
  <h2>User's Recent Reviews:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Product Rating</th>
        <th scope="col">Review Creation Time</th>
      </tr>
    </thead>
    <tbody>
      {% for review in resultReviews%}
        <tr>
          <th scope="row">{{review.uid}}</th>
          <td>{{review.pid}}</td>
          <td>{{review.rating}}</td>
          <td>{{review.time_purchased}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}