{% extends "base.html" %}

{% block content %}

<form id = "form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.k_input.label }}<br/>
      {{ form.k_input(size=32) }}<br/>
    </p>
    {{ form.submit(class_="btn btn-black") }}
  <br><br>

  <h2>Top Expensive Products:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Availability</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in products%}
        <tr>
          <th scope="row">{{prod.id}}</th>
          <td>{{prod.name}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.category}}</td>
          <td>{{prod.availability}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class='child' style="float: left;">
    <a href="{{ url_for('hw4_product.products') }}" type="button" class="btn btn-dark">Return to Products Home</a>
  </div>
  

{% endblock %}
