{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.uid_input.label }}<br/>
      {{ form.uid_input(size=32) }}<br/>
    </p>
    {{ form.submit(class_="btn btn-black") }}

  <br><br>
  <h2>Purchases by this user:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in uid_purchases%}
        <tr>
          <th scope="row">{{purchase.uid}}</th>
          <td>{{purchase.id}}</td>
          <td>{{purchase.pid}}</td>
          <td>{{purchase.time_purchased}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}