{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.sid_input.label }}<br/>
      {{ form.sid_input(size=32) }}<br/>
    </p>
    {{ form.submit(class_="btn btn-black") }}

  <br><br>
  <h2>Sellers Inventory:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in sid_inventory%}
        <tr>
          <th scope="row">{{item.sellerID}}</th>
          <td>{{item.productID}}</td>
          <td>{{item.productname}}</td>
          <td>{{item.quantity}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <form action="" method="post" class='child' novalidate>
    <h4>Delete Product From Inventory</h4>
    {{ form2.hidden_tag() }}
    <p>
      {{ form2.sid_input2.label }}<br/>
      {{ form2.sid_input2(size=32) }}<br/>
    </p>
    <p>
      {{ form2.pid_input2.label }}<br/>
      {{ form2.pid_input2(size=32) }}<br/>
    </p>
    <p>
    {{ form2.submit2(class_="btn btn-black") }}
  </form> 

{% endblock %}
