{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.sid_input.label }}<br/>
      {{ form.sid_input(size=32) }}<br/>
    </p>
    {{ form.submit(class_="btn btn-black") }}

  <br><br>
  <h2>Sellers Inventory:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in sid_inventory%}
        <tr>
          <th scope="row">{{item.sellerID}}</th>
          <td>{{item.productID}}</td>
          <td>{{item.productname}}</td>
          <td>{{item.quantity}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}