{% extends "base.html" %}

{% block content %}

<div class="wrapper" style="display: flex;">
    <div class="wrapper">
        <img src= {{link}} width = "400" height = "400">
    </div>
    <div class="wrapper" style="width:50%;">
        <h2>{{name}}</h2>
        Average Rating: {{averageReview}} Star(s)
        <hr class="solid">
        <h4>Price: <b style="color:rgb(247, 171, 9);">{{price}}</b></h4>
        <b>About this item: </b>item description
        <br>
        <b>About this seller: </b>seller description
    </div>
    <div class="wrapper">
        Add to cart functionality
        <br>
        Use  {{avail}} to check if able to add to cart
    </div>
</div>
<div class="wrapper" style="display: flex;">
    <h4>Ratings and Reviews</h4>
 </div>
 <div>   
    <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
          <tr>
            <th scope="col">User</th>
            <th scope="col">Rating</th>
            <th scope="col">Review Creation Time</th>
          </tr>
        </thead>
        <tbody>
          {% for review in recentReviews%}
            <tr>
              <th scope="row">{{review.uid}}</th>
              <td>{{review.rating}}</td>
              <td>{{review.time_purchased}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
<div style="display: flex; border-left: 10px solid rgba(198, 198, 194, 0.525);">
    <h4>Shop more in this category</h4>
</div>
<div class="wrapper" style="overflow-x:scroll; overflow-y: hidden; white-space: nowrap;">
    <table>
        <tr>
            {% for prod in products%}
            <td class = "wrapper" style="white-space: normal; width: 200px;">
                <a href="{{ url_for('product.product') }}?name={{prod.name}}&&price={{prod.price}}&cat={{prod.category}}&avail={{prod.available}}&link={{prod.link}}"><img src= {{prod.link}} width = "200" height = "200"></a>
                <br>
                <b>{{prod.name}}</b>
                <br>
                {{prod.price}}
            </td>
            {% endfor %}
        </tr>
    </table>
</div>

{% endblock %}