{% extends "base.html" %}

{% block content %}

<div class="wrapper" style="display: flex;">
    <div class="wrapper">
        <img src= {{link}} width = "400" height = "400">
    </div>
    <div class="wrapper">
        <h2>{{name}}</h2>
        insert rating
        <hr class="solid">
        <h4>Price: <b style="color:rgb(247, 171, 9);">{{price}}</b></h4>
        <b>About this item: </b>item description
        <br>
        <b>About this seller: </b>seller description
    </div>
    <div class="wrapper">
        Add to cart functionality
        <br>
        Use  {{avail}} to check if able to add to cart
    </div>
</div>
<div class="wrapper" style="display: flex;">
    Ratings and Reviews
</div>
<div class="wrapper" style="display: flex;">
    Shop more in this category
</div>
<div class="wrapper" style="display: flex;">
    <table style="width:100%">
        <tr>
            <td class="wrapper" ></td>
            <td class="wrapper" ></td>
            <td class="wrapper" ></td>
        </tr>
    </table>
</div>

{% endblock %}